@model BiblosDS.LegalExtension.AdminPortal.Models.ChangePasswordModel

@{
    ViewBag.Title = "Modifica password";
}

@Scripts.Render("~/bundles/jqueryval")
<h1>@ViewBag.Title</h1>
<br />

@using (Html.BeginForm((string)ViewBag.FormAction, "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.ValidationSummary(true, "E' avvenuto un errore durante la procedura di cambio password. Correggere gli errori e riprovare nuovamente.")

    <table class="form-table">
        <tr>
            <td>@Html.LabelFor(m => m.OldPassword, new { @style = "text-transform: uppercase; font-weight: bold;" })</td>
            <td>@Html.Kendo().TextBoxFor(t => t.OldPassword).HtmlAttributes(new { type = "password" })</td>
            <td>@Html.ValidationMessageFor(m => m.OldPassword)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.NewPassword, new { @style = "text-transform: uppercase; font-weight: bold;" })</td>
            <td>@Html.Kendo().TextBoxFor(m => m.NewPassword).HtmlAttributes(new { type = "password" })</td>
            <td>@Html.ValidationMessageFor(m => m.NewPassword)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.ConfirmPassword, new { @style = "text-transform: uppercase; font-weight: bold;" })</td>
            <td>@Html.Kendo().TextBoxFor(m => m.ConfirmPassword).HtmlAttributes(new { type = "password" })</td>
            <td>@Html.ValidationMessageFor(m => m.ConfirmPassword)</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.Kendo().Button().Name("execButton").Content("Modifica password").HtmlAttributes(new { @type = "submit" }).Icon("pencil")</td>
        </tr>
    </table>
}
